#trainings {
    display: flex;
    flex-wrap: wrap;
    margin: 50px;
}

@media (max-width: 990px) {
    #trainings {
      margin: 30px
    }
}

@media (max-width: 450px) {
    #trainings {
      margin: 15px
    }
}