<ion-card (click)="presentSelector()">
  <div id="position">
    <ion-card-subtitle>{{player?.position}}</ion-card-subtitle>
  </div>
  <ion-card-header>
    <div class="card-header">
      <div id="image">
        <ion-avatar>
          <img *ngIf="player && player.picture" alt="Player photo" [src]="player.picture" />
          <img *ngIf="!player?.picture" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
        </ion-avatar>
      </div>
      <div class="text-center">
        <p id="nombre">{{player?.name}} {{player?.surname}}</p>
      </div>
    </div>
  </ion-card-header>
</ion-card>