* {
    color: white;
}

ion-button {
    position: fixed;
    right:0;
}

ion-card {
    width: 400px;
    transition: all .5s ease;
    -webkit-transition: all .5s ease;
}

ion-list {
    margin-bottom: 20px;
}