.user-info{
    display:flex;
    flex-direction:row;
    align-items:center;
    .name{
        font-size:0.9rem;
        padding:0;
        margin:0;
    }
    .teamName{
        font-size:0.8rem;
        padding:0;
        margin:0;
    }
    ion-avatar, ion-icon {
        font-size:2.4rem;
        margin-left:10px;
        margin-right:10px;
    }

    ion-avatar {
        margin-top: 8px;
        width: 50px;
        height: auto;
    }
}
#user-trigger{
    cursor:pointer;
}
#language-trigger{
    font-size:0.8rem;
}