<ion-header>
  <div id="image">
    <img *ngIf="player && player?.picture" alt="Player picture" src="{{player.picture}}" />
    <img *ngIf="!player?.picture" alt="Default avatar picture" src="https://ionicframework.com/docs/img/demos/avatar.svg" />  
  </div>
</ion-header>
<ion-content class="splash">
  <div id="content">
    <h2>{{player?.name}} {{player?.surname}}</h2>
    <div id="personal-data">
      <ion-text>{{player?.nation}}</ion-text>
      <ion-text>{{player?.position}}</ion-text>
    </div>
    <h1>{{'player.statsLabel' | translate}}</h1>
    <p *ngIf="player?.position != 'Portero'">{{'player.goalsLabel' | translate}}: {{player?.goals}}</p>
    <p *ngIf="player?.position != 'Portero'">{{'player.assistsLabel' | translate}}: {{player?.assists}}</p>
    <p>{{'player.yellowCardsLabel' | translate}}: {{player?.yellowCards}}</p>
    <p>{{'player.redCardsLabel' | translate}}: {{player?.redCards}}</p>
  </div>
</ion-content>