#añadir {
    margin-left: 5px;
}

#jugadores {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 30px;
}

@media (max-width: 990px) {
    #jugadores {
      margin: 20px
    }
}

@media (max-width: 450px) {
    #jugadores {
      margin: 10px
    }
}

ion-button {
  position: fixed;
  right: 0;
  bottom: 0;
  margin: 0px 50px 30px 0px;
}