<ion-content class="offset-header" [fullscreen]="false">
  <div id="jugadores">
    <app-player *ngFor="let player of players" [player]="player"
              [isAdmin]="(authSvc.user$ | async)!.role == 'ADMIN'"
              (onDeleteClicked)="onDeletePlayer(player)"
              (onEditClicked)="onEditPlayer(player)"></app-player>
  </div>
  <ion-button *ngIf="(authSvc.user$ | async)!.role == 'ADMIN'" (click)="onNewPlayer()">{{'form.mode.createPlayer' | translate}} <ion-icon id="añadir" name="add-outline"></ion-icon></ion-button>
  <ion-loading [isOpen]="loading" class="custom-loading" spinner="dots"></ion-loading>
</ion-content>
