#añadir {
    margin-left: 5px;
}

ion-searchbar {
  width: 750px;
}

#jugadores {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 30px;
}

@media (max-width: 990px) {
    #jugadores {
      margin: 20px
    }
}

@media (max-width: 450px) {
    #jugadores {
      margin: 10px
    }
}

@media (min-width: 1440px) {
  ion-searchbar {
      width: 1000px;
  }
}