<form *ngIf="form" [formGroup]="form" (ngSubmit)="onSubmit()" (keyup.enter)="onSubmit()">
  <ion-item>
    <ion-input labelPlacement="stacked" label="{{'login.email' | translate}}" formControlName="email" type="text"></ion-input>
  </ion-item>
  <ion-item>
    <ion-input labelPlacement="stacked" label="{{'login.pwd' | translate }}" formControlName="password" type="password"></ion-input>
  </ion-item>
  <div id="botones" class="ion-text-end">
    <ion-button style="text-transform: none;" [disabled]="!form.valid" (click)="onSubmit()">{{'login.submit' | translate}}</ion-button>
  </div>
</form>