ion-card {
    margin: 100px;
    width: 500px;
    height: 700px;
}

#data, .content {
    display: flex;
    justify-content: center;
}

.content{
    flex-direction: column;
    align-items: center;
}

ion-avatar {
    width: 80px;
    height: 80px
}