<div id="data">
  <ion-card>
    <ion-card-header>
      <div class="content">
        <ion-avatar>
          <ion-avatar>
            <img *ngIf="user && user.picture" alt="Player photo"  [src]="user.picture" />
            <img *ngIf="!user?.picture" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
          </ion-avatar>
        </ion-avatar>
        <ion-card-subtitle>{{user?.email}}</ion-card-subtitle>
        <ion-card-title>{{user?.name}} {{user?.surname}}</ion-card-title>
      </div>
    </ion-card-header>
    <ion-card-content>
      <p>{{user?.nation}}</p>
      <p>{{user?.teamName}}</p>
      <ion-buttons>
        <ion-button (click)="onChangePasswordClicked($event)">{{'user-card.change-password' | translate}}</ion-button>
        <ion-button (click)="onEditClicked($event)" *ngIf="user?.role == 'ADMIN'">{{'user-card.editUser' | translate}}</ion-button>
      </ion-buttons>
    </ion-card-content>
  </ion-card>
</div>