* {
    color:white;
}

ion-card {
    margin: 100px;
    width: 500px;
    height: 700px;
}

ion-buttons {
    bottom: 0;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: start;
}

#data, .content {
    display: flex;
    justify-content: center;
}

.content{
    flex-direction: column;
    align-items: center;
}

ion-avatar {
    width: 80px;
    height: 80px
}

ion-card-content {
    padding: 30px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    h1 {
        margin-bottom: 40px;
    }
}

.data-line {
    display: flex;
    justify-content: space-between;
}

@media(max-height:720px) {
    ion-card {
        margin: 50px;
        width: 400px;
        height: 500px;
    }
    ion-card-content {
        padding: 20px;
        height: 300px;
    }
}