<ion-content class="offset-header" [fullscreen]="false">
  <div id="content">
    <ion-card>
      <ion-card-header>
        <ion-card-title>Borja Bravo Casermeiro</ion-card-title>
        <ion-card-subtitle>{{ 'about.developer' | translate }}</ion-card-subtitle>
        <ion-label>{{ 'about.gitLabel' | translate }}</ion-label>
        <a href="https://github.com/boorjabraavo21" target="_blank">boorjabraavo21</a>
      </ion-card-header>
      <ion-card-content>
        <ion-text>{{ 'about.description' | translate }}</ion-text>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>