#splash-logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.496);
    width: 100%;
    height: 100%;
}

#logo {
    width: 200px;
    height: 200px;
    margin-bottom: 20px;
}

.loader {
    position: relative;
    font-size: 2em;
    color: #ffffff;
    mix-blend-mode: difference;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 0.5em;
    padding: 10px;
  }
  
  .loader span {
    color: #0896c5;
    mix-blend-mode: difference;
    text-align: center;
  }
  
  .loader:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 80px;
    height: 100%;
    background: #0896c5;
    animation: animate 3s linear infinite;
  }
  
  @keyframes animate {
    0% {
      left: 0;
    }
    50% {
      left: calc(100% - 80px);
    }
    100% {
      left: 0;
    }
  }
  
  