<div id="upside">
  <ion-label>
    <h2>{{match?.date}}</h2>
  </ion-label>
  <ion-label>
    <div class="label">
      <h1>{{user.teamName}}</h1>
      <h1>VS</h1>
      <h1>{{match?.opponent}}</h1>
    </div>
  </ion-label>
  <ion-label>
    <h1>{{match?.result}}</h1>
  </ion-label>
</div>
<div>
  <ion-label>
    <h2>{{'match.squad' | translate}} - {{match?.squad?.name}} ({{match?.squad?.lineUp}})</h2>
  </ion-label>
  <ion-list>
    <div id="list">
      <div>
        <ion-label *ngFor="let player of forwards">
          <div class="list-players">
            <ion-text>{{player.name}} {{player.surname}}</ion-text>
          </div>
        </ion-label>
      </div>
      <div>
        <ion-label *ngFor="let player of midfielders">
          <div class="list-players">
            <ion-text>{{player.name}} {{player.surname}}</ion-text>
          </div>
        </ion-label>
      </div>
      <div>
        <ion-label *ngFor="let player of defenses">
          <div class="list-players">
            <ion-text>{{player.name}} {{player.surname}}</ion-text>
          </div>
        </ion-label>
      </div>
      <div>
        <ion-label *ngIf="goalkeeper">
          <div class="list-players">
            <ion-text>{{goalkeeper.name}} {{goalkeeper.surname}}</ion-text>
          </div>
        </ion-label>
      </div>
    </div>
  </ion-list>
</div>
<div id="buttons">
  <ion-button color="light" *ngIf="match && user.role == 'ADMIN'" (click)="onEditClicked($event)">
    <ion-icon name="create"></ion-icon>
    {{'home.nextMatch.editMatch' | translate}}
  </ion-button>
  <ion-button color="light" *ngIf="match && user.role == 'ADMIN'" (click)="onFinishedClicked($event)">
    <ion-icon name="checkbox-outline"></ion-icon>
    {{'home.nextMatch.finishMatch' | translate}}
  </ion-button>
</div>