ion-buttons {
    display: flex;
    justify-content: space-around;
}

.positions {
    display: flex;
    justify-content: center;
}

ion-toolbar {
    padding-bottom: 10px;
}

#overall {
    margin-left: 80%;
}

@media (max-width: 850px) {
    #overall {
      margin-left: 70%
    }
}