<ion-app>

  <ion-menu #menu contentId="main-content">
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-button (click)="menu.close()"><ion-icon slot="icon-only" name="close"></ion-icon></ion-button>
        </ion-buttons>
        <ion-thumbnail slot="start">
          <img alt="logo of app" src="assets/app_logo.png" />
        </ion-thumbnail>
        <ion-title>SquadMe</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <ion-list *ngIf="(auth.isConnected$ | async) && (auth.user$ | async)">
        <ion-item [color]="routeInclude('home')?'primary':''" (click)="close(menu)" [routerLink]="['/home']" button detail="false"><ion-icon slot="start" name="home"></ion-icon>{{ 'menu.home' | translate}}</ion-item>
        <ion-item [color]="routeInclude('players')?'primary':''" (click)="close(menu)" [routerLink]="['/players']" button detail="false"><ion-icon slot="start" name="football-outline"></ion-icon>{{ 'menu.myplayers' | translate}}</ion-item>
        <ion-item [color]="routeInclude('squads')?'primary':''" (click)="close(menu)" [routerLink]="['/squads']" button detail="false"><ion-icon slot="start" name="people-outline"></ion-icon>{{ 'menu.mysquads' | translate}}</ion-item>
        <ion-item [color]="routeInclude('user')?'primary':''" (click)="close(menu)" [routerLink]="['/user']" button detail="false"><ion-icon slot="start" name="person-outline"></ion-icon>{{ 'menu.profile' | translate }}</ion-item>
        <ion-item [color]="routeInclude('about')?'primary':''" (click)="close(menu)" [routerLink]="['/about']" button detail="false"><ion-icon slot="start" name="information-circle-outline"></ion-icon>{{ 'menu.about' | translate }}</ion-item>
        <ion-item (click)="onSignOut(menu)" button detail="false"><ion-icon slot="start" name="log-out-outline"></ion-icon>{{ 'menu.signout' | translate}}</ion-item>
      </ion-list>
      <ion-list *ngIf="(auth.isConnected$ | async) && !(auth.user$ | async)">
        <ion-item [color]="routeInclude('home')?'primary':''" (click)="close(menu)" [routerLink]="['/home']" button detail="false"><ion-icon slot="start" name="home"></ion-icon>{{ 'menu.home' | translate}}</ion-item>
        <ion-item [color]="routeInclude('about')?'primary':''" (click)="close(menu)" [routerLink]="['/about']" button detail="false"><ion-icon slot="start" name="information-circle-outline"></ion-icon>{{ 'menu.about' | translate }}</ion-item>
        <ion-item (click)="onSignOut(menu)" button detail="false"><ion-icon slot="start" name="log-out-outline"></ion-icon>{{ 'menu.signout' | translate}}</ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>
  <div class="ion-page" id="main-content">
    <app-header *ngIf="(auth.isConnected$ | async) && (auth.user$ | async) && !(routeInclude('splash') || routeInclude('login') || routeInclude('register'))"
      [nickname]="(auth.user$ | async)!.email"
      [username]="(auth.user$ | async)!.name + ' ' + (auth.user$ | async)!.surname"
      [languages]="['es','en']" 
      [languageSelected]="lang" 
      (onLanguage)="onLang($event)"
      (onProfile)="toProfile()"
      (onSignout)="onSignOut(menu)"></app-header>
    <app-header *ngIf="(auth.isConnected$ | async) && !(auth.user$ | async) && !(routeInclude('splash') || routeInclude('login') || routeInclude('register'))"
      [languages]="['es','en']" 
      [languageSelected]="lang" 
      (onLanguage)="onLang($event)"
      (onSignout)="onSignOut(menu)"></app-header>
    <ion-router-outlet></ion-router-outlet>
  </div>
</ion-app>
