<ion-card appHighlight (click)="onEditClick($event)">
  <ion-card-header>
    <ng-container>
      <ion-buttons>
        <ion-button *ngIf="isAdmin" (click)="deleteSquad($event)"><ion-icon name="trash-outline"></ion-icon></ion-button>
      </ion-buttons>
      <ion-card-title>{{squad?.name}}</ion-card-title>
      <ion-text>{{squad?.lineUp}}</ion-text>
      <ion-list>
        <div>
          <div class="item">
            <ion-text *ngFor="let player of squad?.players">{{player.name}} {{player.surname}}</ion-text>
          </div>
          <div class="item">
            <ion-text *ngFor="let player of squad?.players">{{player.position}}</ion-text>
          </div>
        </div>
      </ion-list>
    </ng-container>
  </ion-card-header>
  <ion-card-content>

  </ion-card-content>
</ion-card>