* {
    color: white;
}

ion-card {
    transition: all .5s ease;
    -webkit-transition: all .5s ease;
}

ion-list {
    display: flex;
    flex-direction: column;
    background: #163e71;
}

div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.item {
    display: flex;
    flex-direction: column;
}


ion-buttons {
    position: absolute;
    right: 0;
    top:0
}

@media (max-width: 990px) {
    ion-card-content {
      width: 200px;
      background-size: 200px 120px;
    }
}

@media (max-width: 450px) {
    ion-card-content {
        width: 150px;
        height: 100px;
        background-size: 150px 100px;
    }
}