<ion-content class="offset-header" [fullscreen]="false">
  <div id="home">
    <ion-card id="player-stats">
      <ion-card-header>
        <ion-card-title>
          {{'player.statsLabel' | translate}}
        </ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-card-subtitle>
          {{'home.generalPlayerStats.labelMaxGoals' | translate}}
        </ion-card-subtitle>
        <div class="datos">
          <ion-label>{{maxGoalsPlayer?.name}} {{maxGoalsPlayer?.surname}}</ion-label>
          <ion-label>{{maxGoalsPlayer?.numbers}}</ion-label>
        </div>
        <ion-card-subtitle>
          {{'home.generalPlayerStats.labelMaxAssists' | translate}}
        </ion-card-subtitle>
        <div class="datos">
          <ion-label>{{maxAssistsPlayer?.name}} {{maxAssistsPlayer?.surname}}</ion-label>
          <ion-label>{{maxAssistsPlayer?.assists}}</ion-label>
        </div>
        <ion-card-subtitle>
          {{'home.generalPlayerStats.labelMaxYellowCards' | translate}}
        </ion-card-subtitle>
        <div class="datos">
          <ion-label>{{maxYellowPlayer?.name}} {{maxYellowPlayer?.surname}}</ion-label>
          <ion-label>{{maxYellowPlayer?.yellowCards}}</ion-label>
        </div>
        <ion-card-subtitle>
          {{'home.generalPlayerStats.labelMaxRedCards' | translate}}
        </ion-card-subtitle>
        <div class="datos">
          <ion-label>{{maxRedPlayer?.name}} {{maxRedPlayer?.surname}}</ion-label>
          <ion-label>{{maxRedPlayer?.redCards}}</ion-label>
        </div>
      </ion-card-content>
    </ion-card>
    <ion-button color="secondary" *ngIf="hasFinishedMatches((authSvc.user$ | async))" (click)="setOpen(true)" class="seeMatches">
      {{'match.seePreviousMatches' | translate}}
    </ion-button>
    <ion-modal #modal [isOpen]="openModal" (didDismiss)="setOpen(false)" >
      <ng-template>
        <ion-list id="finished-matches-list">
          <app-match-item *ngFor="let m of finishedMatches" (onDeleteClick)="deleteMatch(m, modal)" 
                          [teamName]="user.teamName" [match]="m" [isAdmin]="(authSvc.user$ | async)!.role == 'ADMIN'"></app-match-item>
        </ion-list>
      </ng-template>
    </ion-modal>
    <ion-card id="nextMatch">
      <ion-card-header>
        <ion-card-title>{{'home.nextMatch.labelNextMatch' | translate}}</ion-card-title>
      </ion-card-header>
      <ion-card-content id="contentMatch">
        <ion-card-title *ngIf="!match">{{'home.nextMatch.noMatchYet' | translate}}</ion-card-title>
        <ion-button id="addMatch" *ngIf="!match && (authSvc.user$ | async)!.role == 'ADMIN'" (click)="onNewMatch()">
          <ion-icon name="add"></ion-icon>
          {{'home.nextMatch.addMatch' | translate}}
        </ion-button>
        <ng-container *ngIf="match">
          <app-match [user]="authSvc.user$ | async" [match]="match" [forwards]="forwards" [midfielders]="midfielders" [defenses]="defenses" [goalkeeper]="goalkeeper" (onEditClick)="onEditMatch(match)" (onFinishedClick)="finishMatch(match)"></app-match>
        </ng-container>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>