<ion-content class="offset-header" [fullscreen]="false">
  <div id="home">
    <ion-card id="player-stats">
      <ion-card-header>
        <ion-card-title>
          {{'player.statsLabel' | translate}}
        </ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <div class="stats-item">
          <ion-card-subtitle>
            {{'home.generalPlayerStats.labelMaxGoals' | translate}}
          </ion-card-subtitle>
          <div class="datos">
            <ion-thumbnail>
              <img *ngIf="maxGoalsPlayer && maxGoalsPlayer?.picture" alt="Player picture" src="{{maxGoalsPlayer.picture}}" />
              <img *ngIf="!maxGoalsPlayer?.picture" alt="Default avatar picture" src="https://ionicframework.com/docs/img/demos/avatar.svg" />  
            </ion-thumbnail>
            <ion-label>{{maxGoalsPlayer?.name}} {{maxGoalsPlayer?.surname}}</ion-label>
            <ion-label>{{maxGoalsPlayer?.goals}}</ion-label>
          </div>
        </div>
        <div class="stats-item">
          <ion-card-subtitle>
            {{'home.generalPlayerStats.labelMaxAssists' | translate}}
          </ion-card-subtitle>
          <div class="datos">
            <ion-thumbnail>
              <img *ngIf="maxAssistsPlayer && maxAssistsPlayer?.picture" alt="Player picture" src="{{maxAssistsPlayer.picture}}" />
              <img *ngIf="!maxAssistsPlayer?.picture" alt="Default avatar picture" src="https://ionicframework.com/docs/img/demos/avatar.svg" />  
            </ion-thumbnail>
            <ion-label>{{maxAssistsPlayer?.name}} {{maxAssistsPlayer?.surname}}</ion-label>
            <ion-label>{{maxAssistsPlayer?.assists}}</ion-label>
          </div>
        </div>
        <div class="stats-item">
          <ion-card-subtitle>
            {{'home.generalPlayerStats.labelMaxYellowCards' | translate}}
          </ion-card-subtitle>
          <div class="datos">
            <ion-thumbnail>
              <img *ngIf="maxYellowPlayer && maxYellowPlayer?.picture" alt="Player picture" src="{{maxYellowPlayer.picture}}" />
              <img *ngIf="!maxYellowPlayer?.picture" alt="Default avatar picture" src="https://ionicframework.com/docs/img/demos/avatar.svg" />  
            </ion-thumbnail>
            <ion-label>{{maxYellowPlayer?.name}} {{maxYellowPlayer?.surname}}</ion-label>
            <ion-label>{{maxYellowPlayer?.yellowCards}}</ion-label>
          </div>
        </div>
        <div class="stats-item">
          <ion-card-subtitle>
            {{'home.generalPlayerStats.labelMaxRedCards' | translate}}
          </ion-card-subtitle>
          <div class="datos">
            <ion-thumbnail>
              <img *ngIf="maxRedPlayer && maxRedPlayer?.picture" alt="Player picture" src="{{maxRedPlayer.picture}}" />
              <img *ngIf="!maxRedPlayer?.picture" alt="Default avatar picture" src="https://ionicframework.com/docs/img/demos/avatar.svg" />  
            </ion-thumbnail>
            <ion-label>{{maxRedPlayer?.name}} {{maxRedPlayer?.surname}}</ion-label>
            <ion-label>{{maxRedPlayer?.redCards}}</ion-label>
          </div>
        </div>
      </ion-card-content>
    </ion-card>
    <ion-button color="secondary" *ngIf="hasFinishedMatches((authSvc.user$ | async))" (click)="setOpen(true)" class="seeMatches">
      {{'match.seePreviousMatches' | translate}}
    </ion-button>
    <ion-modal #modal [isOpen]="openModal" (didDismiss)="setOpen(false)" >
      <ng-template>
        <ion-header class="modal-header">
          <div class="toolbar-content">
            <ion-button color="medium" fill="clear" (click)="dismissFinishedMatches(modal)"><ion-icon slot="start" name="arrow-back-outline"></ion-icon></ion-button>
            <ion-title>{{'home.previous-matches' | translate}}</ion-title>
          </div>
        </ion-header>
        <ion-content class="modal-content">
          <ion-list id="finished-matches-list">
            <app-match-item *ngFor="let m of finishedMatches" (onDeleteClick)="deleteMatch(m, modal)" 
                            [teamName]="user.teamName" [match]="m" [isAdmin]="(authSvc.user$ | async)!.role == 'ADMIN'"></app-match-item>
          </ion-list>
        </ion-content>
      </ng-template>
    </ion-modal>
    <ion-card id="nextMatch">
      <ion-card-header>
        <ion-card-title>{{'home.nextMatch.labelNextMatch' | translate}}</ion-card-title>
      </ion-card-header>
      <ion-card-content id="contentMatch">
        <ion-card-title *ngIf="!match">{{'home.nextMatch.noMatchYet' | translate}}</ion-card-title>
        <ion-button id="addMatch" *ngIf="!match && (authSvc.user$ | async)!.role == 'ADMIN'" (click)="onNewMatch()">
          <ion-icon name="add"></ion-icon>
          {{'home.nextMatch.addMatch' | translate}}
        </ion-button>
        <ng-container *ngIf="match">
          <app-match [user]="authSvc.user$ | async" [match]="match" [forwards]="forwards" [midfielders]="midfielders" [defenses]="defenses" [goalkeeper]="goalkeeper" (onEditClick)="onEditMatch(match)" (onFinishedClick)="finishMatch(match)"></app-match>
        </ng-container>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>