<ion-header>
  <ion-toolbar>
    <div class="toolbar-content">
      <ion-button color="medium" fill="clear" (click)="onCancel()"><ion-icon name="arrow-back-outline"></ion-icon></ion-button>
      <ion-title *ngIf="mode=='New'">{{'form.mode.createPlayer' | translate}}</ion-title>
      <ion-title *ngIf="mode=='Edit'">{{'form.mode.editPlayer' | translate}}</ion-title>
    </div>
  </ion-toolbar>
</ion-header>
<ion-content>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <app-picture-selectable formControlName="picture"></app-picture-selectable>
    <ion-item>
      <ion-input label="{{'player.nameLabel' | translate }}" placeholder="{{'form.placeholder.name' | translate}}" labelPlacement="fixed" type="text" formControlName="name"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input label="{{'register.surname' | translate }}" placeholder="{{'form.placeholder.surname' | translate}}" labelPlacement="fixed" type="text" formControlName="surname"></ion-input>
    </ion-item>
    <ion-item *ngIf="mode=='New'">
      <ion-input label="{{'register.email' | translate }}" placeholder="{{'form.placeholder.email' | translate}}" labelPlacement="fixed" type="text" formControlName="email"></ion-input>
    </ion-item>
    <ion-item [button]="true" id="nested-trigger">
      <ion-input #posicion [readonly]="true" label="{{'player.positionLabel' | translate }}" labelPlacement="fixed" placeholder="{{'form.placeholder.click' | translate}}" formControlName="position" type="text"></ion-input>
    </ion-item>
    <ion-popover #popover trigger="nested-trigger" side="end">
      <ng-template>
        <ion-list>
          <ion-item (click)="onSelectPosition(popover, posicion, 'Delantero')" >Delantero</ion-item>
          <ion-item (click)="onSelectPosition(popover, posicion, 'Centrocampista')" >Centrocampista</ion-item>
          <ion-item (click)="onSelectPosition(popover, posicion, 'Defensa')" >Defensa</ion-item>
          <ion-item (click)="onSelectPosition(popover, posicion, 'Portero')" >Portero</ion-item>
        </ion-list>
      </ng-template>
    </ion-popover>
    <ion-item>
      <ion-input label="{{'player.nationLabel' | translate }}" placeholder="{{'form.placeholder.nation' | translate}}" labelPlacement="fixed" type="text" formControlName="nation"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input label="{{'player.numberLabel' | translate }}" placeholder="{{'form.placeholder.number' | translate}}" labelPlacement="fixed" formControlName="number" type="number"></ion-input>
    </ion-item>
    <ion-item *ngIf="mode=='New'">
      <ion-input label="{{'register.pwd' | translate }}" placeholder="{{'form.placeholder.pwd' | translate}}" labelPlacement="fixed" formControlName="password" type="password"></ion-input>
    </ion-item>
    <ion-item *ngIf="mode=='New'">
      <ion-input label="{{'register.confirm' | translate }}" placeholder="{{'form.placeholder.confirm' | translate}}" formControlName="confirm" type="password"></ion-input>
    </ion-item>
    <ion-item *ngIf="mode=='Edit' && isNotGoalkeeper">
      <ion-input label="{{'player.goalsLabel' | translate }}" labelPlacement="fixed" formControlName="goals" type="number"></ion-input>
    </ion-item>
    <ion-item *ngIf="mode=='Edit' && isNotGoalkeeper">
      <ion-input label="{{'player.assistsLabel' | translate }}" labelPlacement="fixed" formControlName="assists" type="number"></ion-input>
    </ion-item>
    <ion-item *ngIf="mode=='Edit'">
      <ion-input label="{{'player.yellowCardsLabel' | translate }}" formControlName="yellowCards" type="number"></ion-input>
    </ion-item>
    <ion-item *ngIf="mode=='Edit'">
      <ion-input label="{{'player.redCardsLabel' | translate }}" labelPlacement="fixed" formControlName="redCards" type="number"></ion-input>
    </ion-item>
  </form>
</ion-content>
<ion-footer>
  <ion-buttons>
    <ion-button *ngIf="mode=='New'" [disabled]="!form.valid" (click)="onSubmit()">{{ 'form.mode.create' | translate }}</ion-button>
    <ion-button *ngIf="mode=='Edit'" [disabled]="!form.valid" (click)="onSubmit()">{{ 'form.mode.save' | translate }}</ion-button>
  </ion-buttons>
</ion-footer>