* {
    color: white;
}

ion-card {
    width: 750px;
    transition: all .5s ease;
    -webkit-transition: all .5s ease;
}

ion-avatar {
    width: 80px;
    height: 80px
}


ion-fab {
    position: absolute;
    right: 0;
    top:0;
}

ion-fab-button {
    --box-shadow: 0px;
}

div {
    display: flex;
    flex-direction: column;
}

#interior {
    width: 80%;
    display: flex;
    flex-direction: row;
    padding: 10px;
    justify-content: space-around;
    align-items: center;
}

#datos {
    width: 70%;
    display: flex;
    justify-content: space-around;
}

.space-datos {
    align-content: space-between;
}

ion-card-content {
    display: flex;
    justify-content: space-between;
}


@media (max-width: 750px) {
    ion-card {
        width: 350px;
    }

    #datos {
        width: 50%;
        justify-content: space-between;
    }

    #interior {
        width: 100%;
    }

    ion-card-content {
        flex-direction: column;
    }

    ion-card-subtitle {
        font-size: 12px;
    }
}

@media (max-width: 350px) {
    ion-card {
        width: 250px;
    }
}

@media (min-width: 1440px) {
    ion-card {
        width: 1000px;
    }
}