/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

* {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.squad-modal {
    display:flex;
    --height:100%;
}

.form-modal, .squad-modal {
    --width:800px;
}

ion-card.login-form {
    --background: #00222D;
}

ion-content.components {
    --background: #00222D;
}

ion-item.card-item {
    --background:#00222D;
}

.red-toast {
    font-size:1.1rem;
    text-align:center;
    --width:200px;
    --border-width:1px;
    --border-style: solid;
    --border-color:white;
    --color:red;
}

ion-content.offset-header{
    --padding-top:55px;
    --background: #00516B;
}

.highlight {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -webkit-box-shadow: 0px 0px 10px 5px rgb(67, 217, 217);
    -moz-box-shadow: 0px 0px 10px 5px rgb(67, 217, 217);
    box-shadow: 0px 0px 10px 5px rgb(67, 217, 217);
}

ion-card {
    -webkit-box-shadow: 0px 0px 10px 5px #0e1d22;
    -moz-box-shadow: 0px 0px 10px 5px #0e1d22;
    box-shadow: 5px 5px 10px 5px #0e1d22;
}

ion-content.splash, ion-content.modal-content {
    --background: #00516B;
}

.toolbar-content {
    display: flex;
    justify-content: space-around;
}

ion-button.create-model {
    position: fixed;
    right: 0;
    bottom: 0;
    margin: 0px 50px 30px 0px;
}

ion-button.export-data {
    position: fixed;
    left: 0;
    bottom: 0;
    margin: 0px 0px 30px 30px;
}

ion-button.exit-modal {
    position: fixed;
    left: 0;
    top: 0;
    margin: 10px;
}

ion-header.modal-header {
    background: #00222D;
}

ion-card-content.card-content {
    margin: 20px;
    padding: 20px;
    background:#00516B;
    border-radius: 2px;
    -webkit-box-shadow: 5px 5px 5px 5px #0e1d22;
    -moz-box-shadow: 5px 5px 5px 5px #0e1d22;
    box-shadow: 5px 5px 5px 5px #0e1d22;
}